*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: white
}

.wrapper{
    width: 1100px;
    margin: auto;
    bottom: 14px;
    position: relative;
}

.logo a{
    font-size: 45px;
    font-weight: bold;
    font-family: 'Lucida Sans';
    float: left;
    color: #DD4470;
    
}

.menu{
   position: absolute;
   top: 0;
   right: 0;
   float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
    position: sticky;
    top: 0;
    height: 57px;
    background: linear-gradient(to bottom, #FFF0F5, #F9ADB7); 
    z-index: 1;
    border-bottom: 3px solid #DD4470;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;  
    display: block;  
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-family: 'Lucida Sans'; 
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    width: 100%;
    color: #D14D72; 
}

p{
    font-family:  'Lucida Sans';
    font-size: 15px;
    margin-bottom: 5px;
}

.tengah{
    text-align:center;
    width: 100%;
}

#home button{
    background-color: #D14D72;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
}

#home button:hover{
    background-color: #D14D72;
    cursor: pointer;
}

#profile {
    display: flex;
    align-items: center; 
}

.kolom {
    flex: 1; 
    padding-right: 10px; 
}

.profile-image {
    width: 250px; 
    height: auto;
    border-radius: 50%; 
    margin-right: 150px;
}


#jadwal_perkuliahan {
    margin-top: 50px;
    height: 700px;
}

#jadwal_perkuliahan table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#jadwal_perkuliahan th, #jadwal_perkuliahan td {
    border: 1px solid #0f0e0e;
    padding: 8px;
    text-align: left;
}

#jadwal_perkuliahan th {
    background-color: #E68A8D;
    font-weight: bold;
}

#jadwal_perkuliahan tr:nth-child(even) {
    background-color: #ffffff;
}

#jadwal_perkuliahan tr:hover {
    background-color: #ffffff;
}
#jadwal_perkuliahan .kolom img {
    float: left;
    margin-right: 20px; 
}

.hobi-item {
    width: calc(33.33% - 20px); 
    margin: 10px; 
    text-align: center; 
    padding: 10px; 
    border-radius: 50%; 
    overflow: hidden; 
}

.hobi-item img {
    width: 100%; 
    height: auto; 
    border: 4px solid #D14D72; 
    border-radius: 50%; 
    object-fit: cover; 
    
}

#hobi .kolom {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.hobi-item {
    width: calc(33.33% - 20px); 
    margin: 50px; 
    text-align: center; 
    
}

.kolom .Hobi{
    font-family: 'Lucida Sans'; 
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    width: 100%;
    color: #D14D72; 
    text-align: center;
}

#pendaftaran {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 600px; 
    padding: 100px;
}

#pendaftaran .deskripsi{
    text-align: center;
}

#pendaftaran form {
    padding: 20px;
    border: 1px solid #D14D72;
    border-radius: 10px;
    background-color: #FFE0EA;
}

#pendaftaran form label {
    display: block;
    margin-bottom: 5px;
}

#pendaftaran form input[type="text"],
#pendaftaran form input[type="email"],
#pendaftaran form input[type="tel"],
#pendaftaran form textarea {
    width: calc(100% - 12px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pendaftaran form input[type="submit"] {
    background-color: #D14D72;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#pendaftaran form input[type="submit"]:hover {
    background-color: #ff6384;
}

#tentang_saya {
    height: 700px;
    background-image: url('gambar/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hobi{
    height: 700px;
}

#home{
    height: 700px;
}

#profile{
    height: 700px;
}

section{
    padding-top: 100px;
}